{% extends 'home/base.html' %}

{% block content %}
    <div class="posts">
        <h1>Статьи</h1>
        <div class="content">
            <arcticle>
            <p>Здесь публикуются статьи про строительство домов.</p>
                {% for post in articles %}
                    <div class="article">
                        <h3><a href="{% url 'articles_detail' pk=post.pk %}">{{ post.title }}</a></h3>
                        {% if post.article_img %}
                           <img src="{{ MEDIA_URL }}{{ post.article_img }}" alt="Дома Волгограда" />
                        {% endif %}
                        {% autoescape off%}{{ post.text|truncatechars:380 }}{% endautoescape %}
                        <p class="more-link"><span><i>Дата создания:  {{ post.created_date }} </i></span></p>
                        <a class="view" href="{% url 'articles_detail' pk=post.pk %}">Подробнее</a>
                     </div>
                    <div id="clear"></div>
                {% endfor %}
             </arcticle>
        </div>
    </div>
{% endblock content %}